/* Default styles */

 *{
  background-color: black;
  font-family: "Ubuntu", sans-serif;
 }

.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

.head {
  text-align: center;
  color: white;
}

.text textarea {
  width: 100%;
}

.btnSpeak {
  text-align: center;
  margin-top: 20px;
}

#btn {
  padding: 8px 12px;
  font-size: 1.2rem;
  border-radius: 5px;
  border: none;
  background-color: rgb(53, 245, 53);
  color: white;
  font-weight: bold;
  box-shadow: 0 0 3px rgb(53, 245, 53);
}

#btn:hover {
  background-color: rgb(17, 193, 17);
}

textarea{
  resize: none;
}

#txt {
  border-color: white;
  border-radius: 5px;
  font-size: 1rem;
  box-shadow: 0 0 5px white;
  border: none;
  background-color: white;
  color: black;
}


#love {
  color: red;
  font-weight: bold;
}

.foot > p {
  color: white;
  margin-bottom: 15px;
  text-shadow: 0 0 3px;
}

.foot {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color:white;
  padding: 10px;
  font-weight: bold;
}




/* Media queries for responsive design */

/* Small screens */
@media (max-width: 480px) {
  .container {
    padding: 10px;
  }

  .head h1 {
    font-size: 24px;
  }

  .text textarea {
    rows: 5;
  }
}

/* Medium screens */
@media (min-width: 481px) and (max-width: 768px) {
  .container {
    max-width: 800px;
  }

  .head h1 {
    font-size: 32px;
  }
}

/* Large screens */
@media (min-width: 769px) {
  .container {
    max-width: 1200px;
  }

  .head h1 {
    font-size: 48px;
  }
}
